- content_for :subtitle do
  \... my favorite radio staion is Last.fm
%nav#author_nav
  %ul
    %li.first= back_link
    %li= list_authors_link
%h2#author_form_title Creating a New Author
= render 'form'
