/*
 *= require_self
 *= require_tree .
*/

@font-face {
    font-family: 'Playtime';
    src: url('fonts/playtime.eot');
    src: url('fonts/playtime.eot?#iefix') format('embedded-opentype'),
         url('fonts/playtime.woff') format('woff'),
         url('fonts/playtime.ttf') format('truetype'),
         url('fonts/playtime.svg#Playtime') format('svg');
    font-weight: normal;
    font-style: normal;
}
