%table.games_table
  %thead
    %tr
      %th Title
      %th Rating
      %th Date Added
  %tbody
    - @games.each do |game|
      %tr
        %td= game_title(game)
        %td= game.rating.title
        %td= game.created_at
=will_paginate @games, :class => "games_pagination"
