<nav id="author_nav">
  <ul>
    <li class="first"><%= link_to image_tag('arrow_left.png', :id => 'back') + 'list all authors', authors_path, 
            :title => 'Return to all authors list' %></li>
  </ul>
</nav>
<h1>Editing Author "<%= @author.name %>"</h1>

<%= render 'form' %>
