* {
  margin: 0;
  padding: 0;
}
body {
  background-color:#AAA;
  font-family: Arial, sans-serif;
}
h1 {
  font-size: 26pt;
}
h2 {
  font-size: 20pt;
}
h3 {
  font-size: 16pt;
}
h4 {
  font-size: 12pt;
}
.container {
  width: 1042px;
  margin: 0 auto;
  border: #000 solid 1px;
  overflow: hidden;
}
.header, .nav, .content, .footer {
  width: 100%;
}
.header {
  background-color: #ccc;
  padding: 10px;
  line-height:1.5em;
}
.header h1 {
  letter-spacing: -2px;
}
.header h4 {
  color: #666;
}
.nav {
  background-color: #000;
  float: left;
  padding: 10px;
}
.nav a {
  color: #FFF;
  text-decoration: none;
}
.nav a:hover {
  color: rgb(204, 0, 31);
}
.nav ul {
  color: #FFF;
  float: left;
}
.nav ul li {
  float: left;
  font-size: 14pt;
  margin-left: 30px;
}
.nav ul li.first {
  margin-left:0px;
}
.content {
  overflow: auto;
  background-color:#FFF;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
}
.content .left {
  width: 480px;
  float: left;
}
.content .left h2 {
  margin-left: 10px;
}
.feeling-form-table {
  border-spacing: 10px;
}
.feeling-form-table td {
  float: left;
}
.feeling-form-table td.label {
  width: 200px;
  display: block;
}
.feeling-form-table td.input {
  display: block;
}
.feeling-form-table td.input select {
  background-color: #FFF;
}
.content .right {
  float: right;
}
.progress {
  background-color: rgb(240, 240, 255);
  float: right;
  width: 340px;
  margin-right: 10px;
  padding-left: 5px;
}
.progress p {
  padding: 10px 0px;
}
.footer {
  background-color: rgb(240, 240, 240);
  text-align: center;
  padding: 10px;
}