<% content_for :subtitle do %>
  ... my favorite radio staion is Last.fm
<% end %>
<nav id="author_nav">
  <ul>
    <li class="first"><%= link_to image_tag('arrow_left.png', :id => 'back') + 'back', session[:author_previous], 
            :title => 'Return to previous page' %></li>
  </ul>
</nav>
<h2 id="author_form_title">Creating a New Author</h2>

<%= render 'form' %>
